# Private Key for first account in hardhat (0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266)
# https://hardhat.org/hardhat-network/docs/reference#initial-state
# https://ethereum.stackexchange.com/questions/94886/hardhat-local-network-keys-generation
E2E_WALLET_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
E2E_PROVIDER_RPC_URL=http://localhost:8545
E2E_PROVIDER_CHAIN_ID=31337